.AddCartHeader {
  --width: 387px;
  --pic-width: 60px;
  --pic-height: 60px;
  --gap: 15px;
  --font-color: #000;
  --border-bottom-color: #d9d9d9;

  width: var(--width);
  display: flex;
  flex-flow: row;
  gap: var(--gap);
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-bottom-color);

  img {
    width: var(--pic-width);
    height: var(--pic-height);
    border-radius: 10px;
  }

  p {
    width: 100%;
    color: var(--font-color);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
