.AddCartCounter {
  --width: 387px;
  --gap: 10px;
  --discount-color: #1e90ff;
  --original-color: #000;
  --border-bottom-color: #d9d9d9;

  display: flex;
  flex-flow: column;
  gap: var(--gap);
  width: var(--width);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-bottom-color);

  .product-name {
    color: var(--original-color);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .count-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    .price-container {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: var(--gap);

      .real-price {
        color: var(--original-color);
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        margin: 0;
      }
      .original-price {
        color: var(--discount-color);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 171.429%;
        text-decoration-line: line-through;
        margin: 0;
      }
    }
  }
}
