.sr-only {
  background-color: red;
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}

body {
  width: 100%;
  margin: 0;
}

.architecture-container {
  width: 100%;
  min-width: 350px;
  display: flex;
  flex-flow: column;
  padding: 0;
  gap: 7px;
}

.architecture-items {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 12px 12px;
  background-color: rgba(20, 20, 21, 1);
  text-decoration: none;

  p {
    width: 100%;
    margin-left: 20px;
    color: #fff;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
